body {
	background-color: #FFF;
}

#my {
	padding-top: 75px;
	padding-bottom: 20px;
}

h3 {
	color: black;
	font-family: 'Lato', sans-serif;
}

h1 {
	color: black;
	font-family: 'Raleway', sans-serif;
}

hr {
	color: #e8e8e8 !important;
	border: .5px solid;
	


}

.hrtop {

	color: #e8e8e8 !important;
	border: .5px solid;
	width: 75%;
	



}

.btn-default{

width: 75px;
height: 75px;
color: black;


background-color: #3498db;
border-radius: 0px;
border: none;
font-size: 15px;
padding: 5px !important;
border-style: none;
font-weight: bold;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    transition: all .35s ease-in-out;
font-family: 'Raleway', sans-serif;
margin: 5px;
}

.btn-default:hover{
	background-color: #FFE8B6;

}

.aboutButton{

width: 80px;
height: 40px;
color: white;
font-size: 11px;
background-color: black;
border-radius: 0px;
border: none;
font-size: 13px;
padding: 10px;
position: absolute;
top: 70px;
left: 40px;
border-style: none;


}

.homeButton{

width: 80px;
height: 40px;
color: white;
font-size: 11px;
background-color: black;
border-radius: 0px;
border: none;
font-size: 13px;
padding: 10px;
position: absolute;
top: 20px;
left: 40px;
border-style: none;


}
.card {
	padding-left: 30px;
	border: .5px black solid;
}

.education {
	
}



.btn-default4 {
	background-color: black;
	border: 2px solid orange; 
	border-radius: 200px !important;
	color: white;
	margin-top: -30px;
	margin-left: 0px;
	width: 60px;
	height: 60px;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    transition: all .35s ease-in-out;
	padding-top: 10px;
	font-size: 25px;
}


.btn-default4:hover {
border: 1px solid white !important; 
background: #00A4A4 !important;
color: #fff !important;
}




.boxes2 {
	min-height: 200px;
	max-width: 400px;
	background-color: #fff;
	border: 1px solid #c2c2c2;
	border-radius:2px;
	margin-top: 0px;
	margin-bottom: 50px;
	
	color: black;
	font-family: Lora;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 10px;
	opacity: 0.8;
		-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    transition: all .35s ease-in-out;
}

.boxes2:hover {

	opacity: 1;
	box-shadow:  0px 10px 5px #c2c2c2;

}


.btn-default5 {
	background-color: #00A4A4;
	border: 2px solid orange; 
	border-radius: 200px !important;
	color: white;
	margin-top: -30px;
	margin-left: 0px;
	width: 60px;
	height: 60px;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    transition: all .35s ease-in-out;
	padding-top: 10px;
	font-size: 25px;

}


.btn-default5:hover {
border: 1px solid white !important; 
background: black !important;
color: #fff !important;
}

.textforbox {
	color: black;
	font-size: 17px;
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;


	
}

.label {
	color: white !important;
	font-weight: bold;
}

.projects {
	padding-top: 50px;
	padding-bottom: 50px;
}

.paratext {
	color: black;
	font-size: 17px;
	text-align: center;
}

.logo {
	position: absolute;
	top: 5px;
	left: 5px;

}